* {
    margin: 0;
    padding: 0;
}


.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    max-width: 1050px;
    margin: 33px auto;


}

.nav-title {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 28px;
    font-weight: 800;

}

.btn-local {
    border-radius: 5px;
    background: white;
    color: #0D1321;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.438);
    font-size: 20px;

    font-weight: 700;
    padding: 18px 36px;




}

.btn-secondary {
    color: white;
    background: #0D1321;
}

.btn-local:hover {
    color: #0D1321;
    background-color: rgba(137, 43, 226, 0.055);
}


.banner {
    max-width: 1310px;
    max-height: 650px;
    background-image: url(./assets/Hero-bg.png);
    background-size: cover;
    text-align: center;
    margin: 10px auto 154px;
}

.bnr-box {
    padding: 24px 200px;
    display: flex;
    flex-direction: column;
    gap: 28px;



}

.banner-head {
    color: #0D1321;
    font-size: 43px;
    font-weight: 800;
}


/* bnr section complete */
.section {
    max-width: 1040px;
    max-height: 1270px;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    background: rgba(46, 56, 80, 0.027);
    padding: 82px;

}

#about-sec {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 22px;
}

.sec-head {
    color: #0D1321;
    text-align: center;
    font-size: 29px;
    font-weight: 900;

}

.sec-des {
    color: #0D1321;
    font-size: 14px;
    font-weight: 400;
}

.sub-header {
    color: rgba(13, 19, 33, 0.70);
    font-size: 22px;
    font-weight: 700;
}

.sub-des {
    color: #0D1321;
    font-size: 14px;
    font-weight: 400;
}

.reason-sec {
    display: flex;
    align-items: center;
    gap: 88px;
    justify-content: space-between;
    background-color: white;
    padding: 43px;

}

.div-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    line-height: 26px;
}

.reasonsec-2 {
    flex-direction: row-reverse;
}

.inspiration {
    align-items: center;
    text-align: center;
}

.iframe {
    display: flex;
    padding: 50px 0;
}

.cur-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#current {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.card-div {
    display: flex;
    justify-content: space-between;
    gap: 25px;

}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(192, 192, 192, 0.144);
    padding: 20px;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 15px;


}

.card>img {
    max-width: 20%;
}

.card-2 {
    background-color: rgba(0, 76, 232, 0.05);

}

.card-3 {
    background: rgba(255, 223, 0, 0.05);


}



.sup-head {
    color: white;
    font-size: 30px;
}

.support {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(<path-to-image>),

        url(./assets/handshake.jpg);

    background-repeat: no-repeat;

    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sup {
    color: #ffffff67;

    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.input {
    padding: 25px;
    width: 500px;
    border: none;
    border-radius: 10px;
}

.input2 {
    padding: 21px 25px;
    width: 102px;
    color: #0D1321;
    text-align: center;
    font-size: 18px;
    font-weight: 600;

}

.footer {
    margin: 30px auto;
    max-width: 1040px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.icon {
    display: flex;
    gap: 20px;
}

.f-des {
    color: #0D1321;
    font-size: 18px;

    font-weight: 600;

}